In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
# Load all data
df_smoking_all = pd.read_csv('../OriginalData/sales-of-cigarettes-per-adult-per-day.csv')
df_cancer_all = pd.read_csv('../OriginalData/lung-cancer-deaths-per-100000-by-sex-1950-2002.csv')
df_population_all = pd.read_csv('../OriginalData/population-past-future.csv')


# Select data for usa
df_smoking=df_smoking_all.loc[df_smoking_all['Code'] == "USA"]
df_cancer=df_cancer_all.loc[df_cancer_all['Code'] == "USA"]
df_population=df_population_all.loc[df_population_all['Code'] == "USA"]

In [28]:
df_smoking.head()

             Entity Code  Year  Sales of cigarettes per adult per day
2605  United States  USA  1900                                    0.1
2606  United States  USA  1901                                    0.1
2607  United States  USA  1902                                    0.1
2608  United States  USA  1903                                    0.1
2609  United States  USA  1904                                    0.2

In [29]:
df_cancer.head()

,Entity,Code,Year,death_rate_per_100k_male,death_rate_per_100k_female
4349,United States,USA,1950,19.56,4.34
4350,United States,USA,1951,20.73,4.35
4351,United States,USA,1952,22.38,4.52
4352,United States,USA,1953,24.35,4.41
4353,United States,USA,1954,25.30,4.43

In [30]:
df_population.head()

              Entity Code   Year  Population
70572  United States  USA -10000      233969
70573  United States  USA  -9000      259964
70574  United States  USA  -8000      288850
70575  United States  USA  -7000      320944
70576  United States  USA  -6000      356604

In [ ]:
plt.plot(df_smoking["Year"], df_smoking["Sales of cigarettes per adult per day"])
plt.title("Cigarette sales data")
plt.xlabel("Year")
plt.ylabel("Sales per adult per day")
plt.show()

plt.plot(df_cancer["Year"], df_cancer["Death Rate"])
plt.title("Lung cancer death rate")
plt.xlabel("Year")
plt.ylabel("Death Rate")
plt.show()

plt.plot(df_population["Year"], df_population["Population"])
plt.title("Population USA")
plt.xlabel("Year")
plt.ylabel("Population")
plt.show()

In [62]:
df_yr_smo = df_smoking[['Year', 'Sales of cigarettes per adult per day']]
df_yr_dth = df_cancer[['Year', 'death_rate_per_100k_male', 'death_rate_per_100k_female']]
df_yr_dth['death_rate_per_100k'] = df_yr_dth['death_rate_per_100k_male'] + df_yr_dth['death_rate_per_100k_female']
df_yr_dth = df_yr_dth.drop(columns=['death_rate_per_100k_male', 'death_rate_per_100k_female'])
df_pop = df_population[['Year', 'Population']]
df_merged = pd.merge(df_yr_smo.loc[(df_yr_smo['Year']>=1950) & (df_yr_smo['Year']<=2014)], 
                     df_yr_dth.loc[(df_yr_dth['Year']>=1950) & (df_yr_dth['Year']<=2014)],
                     on='Year')
df_merged = pd.merge(df_merged, 
                     df_pop.loc[(df_pop['Year']>=1950) & (df_pop['Year']<=2014)],
                     on='Year')
print(df_merged)

    Year  Sales of cigarettes per adult per day  death_rate_per_100k
0   1950                                    9.3                23.90
1   1951                                    9.8                25.08
2   1952                                   10.0                26.90
3   1953                                    9.7                28.76
4   1954                                    9.2                29.73
..   ...                                    ...                  ...
60  2010                                    3.6                67.39
61  2011                                    3.5                65.08
62  2012                                    3.5                63.64
63  2013                                    3.3                61.45
64  2014                                    3.2                59.60

[65 rows x 3 columns]

C:\Users\Piotr Kula\AppData\Local\Temp\ipykernel_20676\1670338062.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yr_dth['death_rate_per_100k'] = df_yr_dth['death_rate_per_100k_male'] + df_yr_dth['death_rate_per_100k_female']

In [54]:
df_yr_smo.loc[(df_yr_smo['Year']>=1950) & (df_yr_smo['Year']<=2014)]
print(df_yr_smo)

      Year  Sales of cigarettes per adult per day
2605  1900                                    0.1
2606  1901                                    0.1
2607  1902                                    0.1
2608  1903                                    0.1
2609  1904                                    0.2
...    ...                                    ...
2715  2010                                    3.6
2716  2011                                    3.5
2717  2012                                    3.5
2718  2013                                    3.3
2719  2014                                    3.2

[115 rows x 2 columns]