In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from cmdstanpy import CmdStanModel

In [2]:
# data
df = pd.read_csv('../AnalysisData/all_data.csv')

In [3]:
df.head()

,Unnamed: 0,Year,Sales of cigarettes per adult per day,death_rate_per_100k,Population
0,0,1950,9.3,23.90,158804397
1,1,1951,9.8,25.08,160872264
2,2,1952,10.0,26.90,163266026
3,3,1953,9.7,28.76,165909996
4,4,1954,9.2,29.73,168736390

In [6]:
df['Sum of sales'] =df["Sales of cigarettes per adult per day"].rolling(15, min_periods=1).sum()

In [ ]:

plt.plot(df["Year"], df['Sum of sales'] )
plt.title("Cigarette sales summed over 15 years")
plt.xlabel("Year")
plt.ylabel("Sales per adult per day")
plt.show()

plt.plot(df["Year"], df["Sales of cigarettes per adult per day"] )
plt.title("Cigarette sales data")
plt.xlabel("Year")
plt.ylabel("Sales per adult per day")
plt.show()


plt.plot(df["Year"], df["death_rate_per_100k"])
plt.title("death_rate_per_100k")
plt.xlabel("Year")
plt.ylabel("death_rate_per_100k")
plt.show()

In [ ]:
plt.plot(df["Year"], df["death_rate_per_100k"])
plt.plot(df["Year"], df['Sum of sales'] )
plt.title("Cigarette sales data")
plt.xlabel("Year")
plt.ylabel("Sales per adult per day")
plt.show()

In [ ]:
input_data = {'N': 5,
              'y': [],
              'pop': []}
model = CmdStanModel(stan_file='stan_1.stan')
result = model.sample(data=input_data, chains = 4)